all:
  vars:
    ansible_user: root
    ansible_connection: ssh
    ansible_ssh_private_key: ${private_key} 
  hosts:
      droplet-ws-02:
        ansible_host: ${droplet_id}
        code_server_password: mypassword
        code_server_domain: code-${droplet_id}.nip.io